body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

.App {
  overflow: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

header {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form {
  display: flex;
}

.search-field {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #000;
  height: 33px;
}

.req-button {
  outline: 0;
  background: transparent;
  border: 2px solid #000;
  height: 37px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.req-button::-moz-focus-inner {
  border: 0;
}

.req-button:hover {
  background-color: #000;
  color: #fff;
}

.content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.package-list {
  padding: 0;
}

.package-list .list-header {
  cursor: pointer;
  height: auto;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.package-list li {
  display: flex;
  height: 8vh;
  padding: 15px 0;
  border-bottom: 1px solid #EDEDED;
  box-shadow: 0 10px 10px -8px #EDEDED;
}

.package-list li div {
  flex: 1;
  margin-right: 10px;
}

.pagination span {
  margin-right: 10px;
  cursor: pointer;
}

.pagination span.is--active {
  font-weight: bold;
}

.spinner {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none;
}

.spinner.is--active {
  display: block;
}

.spinner .top, .spinner .bottom {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.spinner .bottom {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
